body{
background-color:rgb(210, 242, 242);
}

header {

  width: 100%;
  background-image: url('../images/background_mountains.jpg');
  height:250px;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}

a {
  color: blue;
}
h2{
  padding: 20px;
}
footer {
  background-color: darkblue;
  color: white
}
.edu{
  display: flex;
  flex-direction: column;
}

.promo-container{
  display: flex;
  padding:20px;
  gap:20px;
}

.promo-photo{
  height: 500px;
  border-radius: 10px;
}
